<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- Groups - These represent the pages/controls which receive push data -->
    <add key="Groups" value="Alerts, Requests, Quoted, TradeBook, TradeHistory" />
    
    <!-- Mappings - Make sure key is defined as a Group. Values represent PushData.DataTypes -->
    <add key="Alerts" value="a1, a2, a3" />
    <add key="Requests" value="QuoteRequest, TradeRequest" />
    <add key="Quoted" value="q1, q2, q3" />
    <add key="TradeBook" value="tb1, tb2, tb3" />
    <add key="TradeHistory" value="th1, th2, th3" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
